@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Shadows+Into+Light&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    /* background-color: #2b3c5e; */
    display: grid;
    grid-template-columns: 150px auto;
    background-color: lightblue;
    width: 100%;
}

#title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: -10px;
    flex-wrap: wrap;
    padding: 0px 22px;
    margin-left: -22px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    flex-grow: 1;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

a:hover {
    background-color: #ccc;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.weeks {
    display: flex;
    flex-direction: column;
}

.card {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
}

h1 {
    color: black;
}

h2 {
    text-align: center;
    margin-top: -10px;
    background-color: lightblue;
    color: white;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

footer {
    text-align: center;
    background-color: lightblue;
}

img {
    vertical-align: middle;
}